::ng-deep {
  .search-box {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border:1px solid #dcdcdc;
    box-shadow: 1px 1px 8px 1px #00000029;
    background-color: #fff;
    width: 250px;
    overflow: hidden;
    &.show-menu {
      border-radius:20px;
      input {
        border-bottom: 1px solid #00000029;
      }
    }
    &:not(.show-menu) {
      border-radius:30px;
    }
    .search-input {
      width: 100%;
      display: flex;
      padding: 0;
      margin: 0;
      flex-direction: column;
      flex-grow: 1;
      position: relative;
      input {
        flex-grow: 1;
        width: 100%;
        display: flex;
        padding: 15px 20px;
        line-height: 1em;
        border: none;
        background-color: transparent;
        box-sizing: border-box;
        font-size: 1rem;
        &:focus {
          outline: none!important;
        }
      }
      button {
        position: absolute;
        right: 0;
        top: 0;
        width: 51px!important;
        height: 51px!important;
      }
    }
    ul {
      margin: 0!important;
      padding: 0!important;
      list-style: none!important;
      width: 100%;
      background-color: #fff;
      li {
        padding: 15px 20px;
        color: #000;
        cursor: pointer!important;
        font-size: 1rem;
        &:hover {
          background-color: #00000029;
        }
      }
    }
  }
}
