<div class="search-box" [ngClass]="{ 'show-menu': showMenu && (burial.length > 0 || lot.length > 0) }" fxFlex="100" [ngClass.xs]="{ 'mobile': true}">
  <div class="search-input">
    <input placeholder="Search Name or Lot code" (keydown)="isSearching=false;canSearch=true" (mousedown)="onFocus()" [formControl]="searchCtrl">
    <div class="search-left">
      <mat-spinner *ngIf="showSpinner"></mat-spinner>
      <button (click)="isSearching=false;canSearch=true;searchCtrl.setValue(null);onSearchComplete.emit(null)" mat-icon-button aria-label="clear" *ngIf="searchCtrl.value && searchCtrl.value !== ''">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div fxFlex="100" fxLayout="column" *ngIf="showMenu && burial.length > 0">
    <span style="max-height: 100%; padding: 5px 10px;opacity: 0.8">Burials</span>
    <ul class="search-result">
      <li *ngFor="let item of burial" (click)="search('burial', item)">{{ item.fullName }}</li>
    </ul>
  </div>
  <div fxFlex="100" fxLayout="column" *ngIf="showMenu && lot.length > 0">
    <span style="max-height: 100%; padding: 5px 10px;opacity: 0.8;">Lot</span>
    <ul class="search-result">
      <li *ngFor="let item of lot" (click)="search('lot', item)">{{ item.lotCode }}</li>
    </ul>
  </div>
</div>
