<ion-header class="sign-up" no-border no-shadow mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="close()" >
        <ion-icon name="arrow-back-sharp" style="font-size: 2em!important;" color="primary" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Create account</ion-title>
    <div slot="end" style="width: 48px"></div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form id="register" [formGroup]="form" (submit)="onRegister()" novalidate>
    <fieldset>
      <ion-col size="12" class="ion-margin-bottom">
        <ion-item fill="outline" class="form-field" >
          <ion-label position="floating">Firstname</ion-label>
          <ion-input formControlName="firstName" type="text" placeholder="Firstname"> </ion-input>
          <ion-note slot="error" *ngIf="formControls.firstName.dirty && formControls.firstName?.errors?.required">Firstname is required.</ion-note>
          <ion-note slot="error" *ngIf="formControls.firstName.dirty && formControls.firstName?.errors?.minlength">Firstname must be at least 2 characters long.</ion-note>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-margin-bottom">
        <ion-item fill="outline" class="form-field" >
          <ion-label position="floating">Middlename</ion-label>
          <ion-input formControlName="middleName" type="text" placeholder="Middlename"> </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-margin-bottom">
        <ion-item fill="outline" class="form-field" >
          <ion-label position="floating">Lastname</ion-label>
          <ion-input formControlName="lastName" type="text" placeholder="Lastname"> </ion-input>
          <ion-note slot="error" *ngIf="formControls.lastName.dirty && formControls.lastName?.errors?.required">Lastname is required.</ion-note>
          <ion-note slot="error" *ngIf="formControls.lastName.dirty && formControls.lastName?.errors?.minlength">Lastname must be at least 2 characters long.</ion-note>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="ion-margin-bottom">
        <ion-item fill="outline" class="form-field" class="form-field" (click)="birthDaePicker.present()">
          <ion-label position="floating">Birthdate</ion-label>
          <ion-input readonly [value]="formControls.birthDate.value | date: 'MMM dd, YYYY'" type="text"> </ion-input>
          <ion-note slot="error"
            *ngIf="formControls.birthDate.dirty && formControls.birthDate?.errors?.required">Birthdate is
            required.</ion-note>
        </ion-item>
        <ion-modal #birthDaePicker [cssClass]="'bottom-end'" >
          <ng-template>
            <ion-datetime
              presentation="date"
              size="cover"
              locale="en-ph"
              showDefaultTitle="true"
              showDefaultButtons="true"
              formControlName="birthDate"
              (ionChange)="form.controls.birthDate.markAsTouched();form.controls.birthDate.updateValueAndValidity()"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="12" class="ion-margin-bottom">
        <ion-item fill="outline" class="form-field" >
          <ion-label position="floating">Age</ion-label>
          <ion-input formControlName="age" type="text" placeholder="Age"> </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="ion-margin-bottom">
        <ion-item fill="outline" class="form-field" >
          <ion-label position="floating">Address</ion-label>
          <ion-textarea formControlName="address" type="text" placeholder="Address"> </ion-textarea>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="ion-margin-bottom">
        <ion-item fill="outline" class="form-field" >
          <ion-label position="floating">Mobile number</ion-label>
          <ion-input formControlName="mobileNumber" type="text" placeholder="Mobile number" oninput="this.value = this.value.replace(/[^0-9]/g, '')"> </ion-input>
          <ion-note slot="error" *ngIf="formControls.mobileNumber.dirty && formControls.mobileNumber?.errors?.required">Mobile number is required.</ion-note>
          <ion-note slot="error" *ngIf="formControls.mobileNumber.dirty && formControls.mobileNumber?.errors?.minlength">Enter valid mobile number.</ion-note>
          <ion-note slot="error" *ngIf="formControls.mobileNumber.dirty && formControls.mobileNumber?.errors?.maxlength">Enter valid mobile number.</ion-note>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="ion-margin-bottom">
        <ion-item fill="outline" class="form-field">
          <ion-label position="floating">Password</ion-label>
          <ion-input #password type="password" placeholder="Password" formControlName="password"> </ion-input>
          <ion-icon name="eye" slot="end" (click)="password.type = password.type === 'text' ? 'password' : 'text'"></ion-icon>
          <ion-note slot="error" *ngIf="formControls.password.dirty && formControls.password?.errors?.required">Password is required.</ion-note>
          <ion-note slot="error" *ngIf="formControls.password.dirty && formControls.password?.errors?.minlength">The password must be at least 3 characters long.</ion-note>
          <ion-note slot="error" *ngIf="formControls.password.dirty && formControls.password?.errors?.maxlength">The password must not be more than 16 characters long.</ion-note>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="ion-margin-bottom">
        <ion-item fill="outline" class="form-field">
          <ion-label position="floating">Confirm password</ion-label>
          <ion-input #confirmPassword type="password" placeholder="Confirm password" formControlName="confirmPassword"> </ion-input>
          <ion-icon name="eye" slot="end" (click)="confirmPassword.type = confirmPassword.type === 'text' ? 'password' : 'text'"></ion-icon>
          <ion-note slot="error" *ngIf="formControls.password.dirty && formControls.confirmPassword?.errors?.notMatch">The password not match.</ion-note>
        </ion-item>
      </ion-col>
    </fieldset>
  </form>
</ion-content>

<ion-footer class="ion-padding">
  <ion-toolbar mode="md" >
    <ion-button
      [disabled]="!form.dirty || !form.valid"
      type="submit"
      form="register"
      mode="md"
      expand="full"
      shape="round"
      size="large"
      color="primary">
    Create account
  </ion-button>
  </ion-toolbar>
</ion-footer>

<ion-modal class="result-modal" [isOpen]="isOpenResultModal">
  <ng-template>
    <div class="success-modal-content">
      <ion-icon name="checkmark-circle-outline" *ngIf="resultModal?.type==='success'; else errorIcon" color="primary"></ion-icon>
      <ng-template #errorIcon>
        <ion-icon name="checkmark-circle-outline" color="danger"></ion-icon>
      </ng-template>

      <div class="title">
        <h1>{{resultModal?.title}}</h1>
      </div>
      <div class="desc">
        <h1>{{resultModal?.desc}}</h1>
      </div>
      <div class="action">
        <ion-button
          *ngIf="resultModal?.type==='success'; else errorAction"
          mode="md"
          expand="outline"
          shape="round"
          size="large"
          color="primary"
          (click)="resultModal.done()">
        Done
      </ion-button>
      <ng-template #errorAction>
        <ion-button
          mode="md"
          expand="outline"
          shape="round"
          size="large"
          color="danger"
          (click)="resultModal.retry()">
        Retry
      </ion-button>
      </ng-template>

    </div>
    </div>
  </ng-template>
</ion-modal>
