
<ion-tabs mode="md" (ionTabsWillChange)="onTabsWillChange($event)">
  <ion-tab-bar mode="md" slot="bottom">
    <ion-tab-button tab="home" mode="md">
      <ion-icon name="compass{{ active === 'home' ? '' : '-outline' }}"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="reservation" mode="md">
      <ion-icon name="reader{{ active === 'reservation' ? '' : '-outline' }}"></ion-icon>
      <ion-label>Reservation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification" mode="md">
      <ion-icon name="notifications{{ active === 'notification' ? '' : '-outline' }}"></ion-icon>
      <ion-label>Notification</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="account" mode="md">
      <ion-icon name="person-circle{{ active === 'account' ? '' : '-outline' }}"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
