<ion-header >
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="modal.dismiss()" >
        <ion-icon name="arrow-back-sharp" style="font-size: 2em!important;" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Organization Login</ion-title>
    <div slot="end" style="width: 48px"></div>
  </ion-toolbar>
</ion-header>
<ion-content class="login">
  <mat-stepper animationDuration="200" [linear]="false" #logInStepper >
    <mat-step [stepControl]="loginForm">
      <div class="form-container center">
        <div class="form-header">
          <h1 class="title">Hi there!</h1>
        </div>
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onFormSubmit()">
          <fieldset [disabled]="isSubmitting">

            <ion-col size="12" class="ion-margin-bottom">
              <ion-item fill="outline" class="form-field" >
                <ion-label position="floating">Mobile number</ion-label>
                <ion-input formControlName="userName" type="text" placeholder="Mobile number" oninput="this.value = this.value.replace(/[^0-9]/g, '')"> </ion-input>
                <ion-note slot="error" *ngIf="formControls.userName.dirty && formControls.userName?.errors?.required">Username or mobile number is required.</ion-note>
              </ion-item>
            </ion-col>

            <ion-col size="12" class="ion-margin-bottom">
              <ion-item fill="outline" class="form-field">
                <ion-label position="floating">Password</ion-label>
                <ion-input #password type="password" placeholder="Password" formControlName="password"> </ion-input>
                <ion-icon name="eye" slot="end" (click)="password.type = password.type === 'text' ? 'password' : 'text'"></ion-icon>
                <ion-note slot="error" *ngIf="formControls.password.dirty && formControls.password?.errors?.required">Password is required.</ion-note>
              </ion-item>
            </ion-col>

          </fieldset>
        </form>
        <div class="form-footer">
          <ion-button shape="round" size="large" [disabled]="isSubmitting"
          (click)="onFormSubmit()">Log in</ion-button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</ion-content>


<ion-modal class="result-modal" [isOpen]="isOpenResultModal">
  <ng-template>
    <div class="success-modal-content">
      <ion-icon name="checkmark-circle-outline" *ngIf="resultModal?.type==='success'; else errorIcon" color="primary"></ion-icon>
      <ng-template #errorIcon>
        <ion-icon name="checkmark-circle-outline" color="danger"></ion-icon>
      </ng-template>

      <div class="title">
        <h1>{{resultModal?.title}}</h1>
      </div>
      <div class="desc">
        <h1>{{resultModal?.desc}}</h1>
      </div>
      <div class="action">
        <ion-button
          *ngIf="resultModal?.type==='success'; else errorAction"
          mode="md"
          expand="outline"
          shape="round"
          size="large"
          color="primary"
          (click)="resultModal.done()">
        Done
      </ion-button>
      <ng-template #errorAction>
        <ion-button
          mode="md"
          expand="outline"
          shape="round"
          size="large"
          color="danger"
          (click)="resultModal.retry()">
        Retry
      </ion-button>
      </ng-template>

    </div>
    </div>
  </ng-template>
</ion-modal>
