<mat-toolbar color="#fff" class="mat-elevation-z4">
  <span id="title">Map</span>
  <span class="toolbar-item-spacer"></span>
</mat-toolbar>
<div class="content">
  <div class="inner-content" fxFlex="100" fxLayout="column">
    <div fxFlex="100">
      <div fxFlex class="map-container">
        <app-map-search #search (onSearchComplete)="onSearchComplete($event)"></app-map-search>
        <app-map-box fxFlex="100" (click)="search.showMenu = false" [disablePan]="true" [showLegend]="true" [disableSelection]="false" #mapBox (onSelectChange)="onSelectChange($event)"></app-map-box>
      </div>
      <div fxFlex.gt-xs="25" *ngIf="details">

      </div>
    </div>
  </div>
</div>
