.content {
  .inner-content {
    .map-container {
      display: flex;
      position: relative;
      app-map-box {
        &:not(.big-screen) {
          max-height: 350px!important;
        }
      }
      app-map-search {
        display: flex;
        z-index: 999;
        top: 20px;
        left: 20px;
        box-sizing: border-box;
        min-height: 53px!important;
        &.big-screen {
          max-width: 350px!important;
          position: absolute;
        }
      }
    }
  }
}
